/* ==========================================================================
   lfb-main-layout layout styles
   ========================================================================== */

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.footer {
  height: 3rem;
}

.content {
  flex-grow: 1;
}

.aside {
  display: flex;

  position: absolute;
  top: 0;
  bottom: 0;
  left: -20rem;
  width: 20rem;

  will-change: transform;
  z-index: 1000;
}

.aside--isVisible {
  transform: translateX(20rem);
}

.overlay {
  position: absolute;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  will-change: transform;
}

.overlay--isVisible {
  transform: translateX(100%);
}
