.lfb-main-layout__wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.footer {
  height: 3rem;
}

.content {
  flex-grow: 1;
}

.aside {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -20rem;
  width: 20rem;
  will-change: transform;
}

.aside--open {
  transform: translateX(20rem);
}
