/* ==========================================================================
   Theming styles
   ========================================================================== */

.lfb-header {
  background: yellow;
}


// TODO refactor

.footer {
  background: yellow;
}

.content {
  background: lightblue;
}

.aside {
  background: lightgreen;
}
