/* ==========================================================================
   lfb-navigation theming styles
   ========================================================================== */

.navigation {
  background: #fff;
  border-right: 1px solid #ebebeb;

  li {
    border-bottom: 1px solid #ebebeb;

    &:first-of-type {
      border-top: 1px solid #ebebeb;
    }
  }

  a {
    color: #000;
  }
}
