/* ==========================================================================
   lfb-header layout styles
   ========================================================================== */

.header {
  height: 56px;
  display: flex;
  align-items: center;
}
